.root {
    -fx-font-family: Impact, Charcoal, sans-serif;
    -fx-background-color: #424953;
    -fx-background-image: url("images/003.jpg");
    -fx-background-size: 800px 600px;
}

#popup {
    -fx-background-image: none;
    -fx-background-color: black;
    -fx-border-color:  #C39E3A;
    -fx-border-width: 10;
}

#title {
    -fx-font-size: 64px;
    -fx-font-weight: 900;
    -fx-text-fill: white;
    -fx-effect: innershadow(gaussian, #FCAB10, 25, 0, 0, 0);
}

#subtitle {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-effect: innershadow(gaussian, #FCAB10, 25, 0, 0, 0);
}

#text {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

#tutorial {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: brown;
}

#level {
    -fx-font-size: 12;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-border-color: #CDC9C9;
    -fx-border-width: 2px;
}

#obstacles {
    -fx-arc-width: 0;
    -fx-arc-height: 0;
    -fx-fill: #B2CEF7;
}

#player {
    -fx-arc-width: 0;
    -fx-arc-height: 0;
    -fx-fill: #FFB8A0;
}

#grid {
    -fx-background-image: url("images/geometric.jpg");
    -fx-background-color: #2F3840;
}

#goal {
    -fx-fill: #494949;
    -fx-stroke: transparent;
}

#goal_arrow {
    -fx-fill: transparent;
    -fx-stroke: #eee8aa;
    -fx-stroke-width: 5;
}

.button {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.button:hover {
    -fx-border-color: orange;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, orange, 5, 0, 0, 0);
}

.button:pressed {
    -fx-text-fill: #fff2c7;;
    -fx-translate-y: 3px;
}

.toggle-button {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.toggle-button:hover {
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, orange, 5, 0, 0, 0);
}

.toggle-button:pressed {
    -fx-text-fill: #fff2c7;;
    -fx-translate-y: 3px;
}

.toggle-button:selected {
    -fx-font-weight: bold;
    -fx-border-color: orange;
    -fx-effect: dropshadow(gaussian, orange, 5, 0, 0, 0);
}

.slider .track {
    -fx-background-color: null;
}

.progress-bar .bar {
    -fx-background-color: orange;
}

.progress-bar .track {
    -fx-background-color: black;
}