/** {*/
/*payne-s-grey: #3E3D4F;*/
/*submarine: #849396;*/
/*light-sea-green: #2ACAB9;*/
/*white: #FEFEFE;*/
/*swans-down: #DBECDF;*/
/*medium-turquoise: #49D2C5;*/
/*}*/

.root {
    -fx-font-family: Verdana;
    -fx-background-color: #424953;
    -fx-background-image: url("003.jpg");
    -fx-background-size: 800px 600px;
    -fx-text-fill: #DDDEE0;
}

#popup {
    -fx-background-image: none;
    -fx-background-color: black;
    -fx-border-color:  #C39E3A;
    -fx-border-width: 10;
}

#title {
    -fx-font-size: 64px;
    -fx-font-weight: 900;
    -fx-text-fill: white;
    -fx-effect: innershadow(gaussian, saddlebrown, 25, 0, 0, 0);
}

#subtitle {
    -fx-font-size: 24px;
    -fx-text-fill: orange;
}

#text {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

#level {
    -fx-font-size: 16;
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

#obstacles {
    -fx-arc-width: 0;
    -fx-arc-height: 0;
    /*-fx-fill: transparent;*/
    /*-fx-stroke: red;*/
    /*-fx-effect: dropshadow(gaussian, red, 25, 0, 0, 0);*/
}

#player {
    -fx-arc-width: 0;
    -fx-arc-height: 0;
    /*-fx-fill: transparent;*/
    /*-fx-stroke: white;*/
    /*-fx-effect: dropshadow(gaussian, white, 25, 0, 0, 0);*/
}

#grid {
    -fx-background-color: #343232;
}

#goal {
    -fx-fill: #343232;
    -fx-stroke: transparent;
    /*-fx-effect: dropshadow(gaussian, #343232, 5, 0, 0, 0);*/
}

#goal_arrow {
    -fx-fill: transparent;
    /*-fx-stroke: black;*/
    -fx-stroke-width: 5;
    /*-fx-effect: dropshadow(gaussian, white, 10, 0, 0, 0);*/
}

.button {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.button:hover {
    -fx-border-color: orange;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, orange, 5, 0, 0, 0);
}

.toggle-button {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
}

.toggle-button:hover {
    -fx-font-weight: bold;
    -fx-border-color: orange;
    -fx-effect: dropshadow(gaussian, orange, 5, 0, 0, 0);
}

.toggle-button:selected {
    -fx-font-weight: bold;
    -fx-border-color: orange;
    -fx-effect: dropshadow(gaussian, orange, 5, 0, 0, 0);
}

.slider .track {
    -fx-background-color: #FEA62D;
}