* {
payne-s-grey: #3E3D4F;
submarine: #849396;
light-sea-green: #2ACAB9;
white: #FEFEFE;
swans-down: #DBECDF;
medium-turquoise: #49D2C5;
}

.root {
    -fx-font-family: Verdana;
    -fx-background-color: #424953;
    -fx-background-image: url("003.jpg");
    -fx-background-size: 800px 600px;
    -fx-text-fill: #DDDEE0;
}

#title {
    -fx-font-family: Verdana;
    -fx-font-size: 64px;
    -fx-text-fill: #DDDEE0;
}

#subtitle {
    -fx-font-size: 24px;
    -fx-text-fill: #DDDEE0;
}

#text {
    -fx-font-size: 12px;
    -fx-text-fill: #DDDEE0;
}

#level {
    -fx-pref-height: 35;
    -fx-pref-width: 35;
    -fx-background-radius: 35;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: #FEA62D;
    -fx-background-radius: 50;
}

.button:hover {
    -fx-background-color: #F29517;
    -fx-font-weight: bold;
}

.toggle-button {
    -fx-text-fill: black;
    -fx-background-color: #FEA62D;
    -fx-background-radius: 50;
}

.toggle-button:hover {
    -fx-background-color: #F29517;
    -fx-font-weight: bold;
}

.toggle-button:selected {
    -fx-background-color: #F29517;
    -fx-effect: innershadow(gaussian, black, 5, 0, 0, 0);
}

.slider .track {
    -fx-background-color: #FEA62D;
}